.icon-button {
  outline: none !important;
  background: none;
  border: none;
  color: inherit;
  height: 24px;
}

.my-input {
  outline: none;
  background-color: inherit;
  width: 240px;
  height: 24px;
  border: none;
}

.no-border {
  border-radius: 0 !important;
}

.left-panel {
  height: 100vh;
}

.file-search {
  border-radius: 40px !important;
  margin: 10px 10px 0 10px;
}

.right-panel {
  height: 100vh;
}

.button-group {
  width: 100%;
  bottom: 0px;
  left: 0px;
}
